@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  background: rgba($dark, 0.5);
}

::-webkit-scrollbar-thumb {
  background: $dark;
}

body {
  width: 100%;
  font-family: $Poppins;
  color: $dark;
  background: $bg;
  height: 100%;
}

#root {
  height: 100%;
}
