@import "../../styles/variables.scss";

.container {
  position: relative;
  z-index: 1;
  padding: 1rem;
  transition: 0.3s ease all;
  margin-bottom: 50px;
  margin-top: 50px;
  
  @include breakpoint(md) {
    padding: 0 3rem;
  }

  @media only screen and (max-width: 768px) {
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
  }

  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  animation: appear 1s ease-out;
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}
